@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #030201;

  color: #00bdbd;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.button:hover {
  scale: 120%;
}
.modal-form {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222221;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-form.show {
  opacity: 1;
}

.hidden {
  display: none;
}

.i-g-header.is-open .i-g-header-background {
  left: 0;
}
.i-g-header-button-wrapper {
  margin-left: auto;
}
.i-g-header-icon {
  display: none;
}

.i-g-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.i-g-navigation-list.is-open {
  right: 0;
}
.i-g-header-icon-menu {
  display: block;
}

.i-g-header-icon-button.is-open .i-g-header-icon-menu {
  display: none;
}

.i-g-header-icon-button.is-open .i-g-header-icon-close {
  display: block;
}

.i-g-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #03020159;
}

.i-g-navigation {
  display: -ms-flexbox;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 375px;
  padding: 10px 12px;
  position: relative;
}

.i-g-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #03020159;
  backdrop-filter: blur(36px);
}
.i-g-header.is-open .i-g-header-background {
  left: 0;
}
.i-g-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-g-header-icon-menu {
  display: block;
}

.i-g-header-icon-button.is-open .i-g-header-icon-menu {
  display: none;
}

.i-g-header-icon-button.is-open .i-g-header-icon-close {
  display: block;
}

.i-g-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 28px;
  border-radius: 24px;
  gap: 24px;
  backdrop-filter: blur(36px);
  background: #03020159;
}

.i-g-navigation-list.is-open {
  right: 0;
}

.i-g-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  color: #00ffff;
}

.i-g-navigation-link:hover,
.i-g-navigation-link:focus {
  color: #ff06ff;
}

.i-g-header.is-open {
  background-color: transparent;
}

.i-g-navigation-img {
  display: none;
}
.i-g-navigation-item-desk {
  display: none;
}
@media screen and (min-width: 1189px) {
  .i-g-navigation-img {
    display: flex;
  }
  .i-g-header-icon-title {
    display: none;
  }
  .i-g-header-button-wrapper {
    display: none;
  }
  .i-g-header {
    width: 1440px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(48px);
  }

  .i-g-header-background {
  }
  .i-g-header-icon-button {
    display: none;
  }
  .i-g-navigation {
    width: 1440px;
    flex-direction: row;
    flex: 1;
    display: flex;
    height: 70px;
    padding: 0 160px;
    gap: 100px;
  }

  .i-g-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: 0;
    padding-block: 0;
    flex: 1;
    gap: 42px;
    height: 00px;
    display: flex;
    justify-content: end;
    align-items: center;

    padding: 0 0px;
  }

  .i-g-navigation-link {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-g-navigation-item-desk {
    display: block;
    background: linear-gradient(
      90deg,
      rgba(0, 255, 255, 0.15) 0%,
      rgba(255, 0, 255, 0.15) 100%
    );
    border: 1px solid rgba(75, 0, 75, 0.6);
    width: 191px;
    height: 32px;
    border-radius: 16px;

    padding: 3px 0;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: #ff06ff;
    text-align: center;
  }
}
.i-g-home {
  width: 375px;
  height: 812px;
  margin: auto;
}
.i-g-home-container {
  width: 375px;
  padding: 112px 16px 0px;
  margin: auto;
}

.i-g-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.i-g-home-title-desk {
  display: none;
}
.i-g-home-title {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;

  background: linear-gradient(90deg, #00ffff 0%, #ff00ff 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.i-g-home-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 96px;
}
.i-g-home-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.i-g-home-link {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 0.5) 0%,
    rgba(255, 0, 255, 0.5) 100%
  );
  backdrop-filter: blur(36px);
  width: 256px;
  height: 51px;
  padding-top: 12px;
  padding-bottom: 12px;

  border-radius: 24px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.i-g-home-link:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 0.15) 0%,
    rgba(255, 0, 255, 0.15) 100%
  );
  color: #ff06ff;
}

@media screen and (min-width: 1189px) {
  .i-g-home {
    width: 1440px;
    height: 580px;
    background-image: url("/img/Hero\ \(2\).png");
  }
  .i-g-home-container {
    width: 1440px;
    padding: 150px 0px 0px;
  }
  .i-g-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .i-g-home-title {
    display: none;
  }
  .i-g-home-title-desk {
    display: flex;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    background: linear-gradient(90deg, #00ffff 0%, #ff00ff 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .i-g-home-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 24px 0 40px;
    width: 544px;
    text-align: center;
  }
  .i-g-home-div {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }
}
.i-g-about {
  margin: auto;
  width: 375px;
  height: 1202px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Benefits.png");
}
.i-g-about-container {
  width: 375px;
  padding: 80px 16px 0px;
  margin: auto;
}
.i-g-about-title {
  width: fit-content;
  margin: auto;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(90deg, #00ffff 0%, #ff00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.i-g-about-title-two {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 8px;
  color: #f2fdfd;
}
.i-g-about-text {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 56px 9px 40px;
}

.i-g-about-text-bold {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #f2fdfd;
}
.i-g-about-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 24px;
}
.i-g-about-item {
  backdrop-filter: blur(36px);
  border: 1px solid rgba(75, 0, 75, 0.6);
  background: radial-gradient(
    100% 209.84% at 100% 0%,
    rgba(128, 0, 128, 0.1225) 0%,
    rgba(3, 2, 1, 0.1225) 100%
  );
  width: 256px;
  height: 138px;
  border-radius: 24px;

  padding: 23px;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(180deg, #00ffff 0%, #ff00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 1189px) {
  .i-g-about {
    width: 1440px;
    height: 675px;
    background-image: url("/img/Benefits\ \(1\).png");
  }
  .i-g-about-container {
    width: 1440px;
    padding: 80px 160px;
  }
  .i-g-about-title {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .i-g-about-title-two {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
  .i-g-about-text {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 64px 192px 32px;
  }

  .i-g-about-text-bold {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .i-g-about-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding-top: 32px;
  }
}
.i-g-why {
  margin: auto;
  width: 375px;
  height: 1363px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Benefits\ \(2\).png");
}

.i-g-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}
.i-g-why-list {
  padding-top: 426px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.i-g-why-item {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(36px);
  background: radial-gradient(
    100% 209.84% at 100% 0%,
    rgba(128, 0, 128, 0.1225) 0%,
    rgba(3, 2, 1, 0.1225) 100%
  );
  border: 1px solid rgba(75, 0, 75, 0.6);

  border-radius: 24px;

  gap: 8px;

  padding: 23px;
}

.i-g-why-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #ff06ff;
}
.i-g-why-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #f2fdfd;
}

@media screen and (min-width: 1189px) {
  .i-g-why {
    width: 1440px;
    height: 978px;
    background-image: url("/img/Benefits\ \(3\).png");
  }
  .i-g-why-container {
    width: 1440px;
    padding: 80px 160px;
  }
  .i-g-why-list {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 160px;
    row-gap: 96px;
    justify-content: center;
  }
  .i-g-why-item {
    width: 352px;
    height: 140px;
  }

  .i-g-why-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .i-g-why-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .i-g-why-item-one {
    margin: 0 386px;
  }
  .i-g-why-item-q {
    margin-left: 256px;
  }
  i-g-why-item-w {
    margin-top: 40px;
  }
}

.i-g-uniqueness {
  margin: auto;
  width: 375px;
  height: 1728px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/uniqueness/Benefits\ \(4\).png");
}
.i-g-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.i-g-uniqueness-list {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.i-g-uniqueness-item {
  backdrop-filter: blur(36px);
  border: 1px solid rgba(75, 0, 75, 0.6);
  background: #03020159;
  width: 262px;
  height: 256px;

  border-radius: 24px;

  padding: 31px;
}
.i-g-uniqueness-img {
  width: 48px;
}
.i-g-uniqueness-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ff06ff;
  padding-top: 16px;
}
.i-g-uniqueness-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #00ffff;
  margin-top: auto;
  display: flex;
  align-items: end;
  height: 72px;
  margin-top: 29px;
}
.i-g-uniqueness-text-two {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #00ffff;
  padding-top: 32px;
}
@media screen and (min-width: 1189px) {
  .i-g-uniqueness {
    width: 1440px;
    height: 974px;
    background-image: url("/img/uniqueness/Benefits\ \(5\).png");
  }
  .i-g-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 160px;
  }
  .i-g-uniqueness-list {
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
  }
  .i-g-uniqueness-item {
    width: 256px;
    height: 256px;

    border-radius: 24px;
  }
  .i-g-uniqueness-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .i-g-uniqueness-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    height: 81px;
    margin-top: 17px;
  }
  .i-g-uniqueness-text-two {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .i-g-uniqueness-item-q {
    margin-left: 288px;
  }
  .i-g-uniqueness-item-a {
    margin: 0 288px 0 288px;
  }
}
.i-g-how {
  margin: auto;
  width: 375px;
  height: 1706px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/Benefits\ \(6\).png");
}
.i-g-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.i-g-how-list {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  gap: 24px;
  padding-bottom: 40px;
}
.pricing-card {
  backdrop-filter: blur(36px);
  border: 1px solid rgba(75, 0, 75, 0.6);
  background: radial-gradient(
    100% 209.84% at 100% 0%,
    rgba(128, 0, 128, 0.1225) 0%,
    rgba(3, 2, 1, 0.1225) 100%
  );
  width: 343px;

  border-radius: 24px;
  padding: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  color: #ff00cc;
  padding-bottom: 20px;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

td {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #00bdbd;
  padding: 14px 0;
  border-top: 1px solid #222222;
}

td img {
  width: 27px;
  height: 27px;
  display: block;
  margin: auto;
  margin-right: 26px;
}

.price {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  color: #00ffff;
}
.price span {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.pricing-table {
  display: none;
}

@media screen and (min-width: 1189px) {
  .i-g-how {
    width: 1440px;
    height: 892px;
    background-image: url("/img/how/Benefits\ \(7\).png");
  }
  .i-g-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 160px;
  }
  .i-g-how-list {
    display: none;
  }

  .pricing-table {
    display: block;
    margin-top: 64px;
    margin-bottom: 50px;
    backdrop-filter: blur(36px);
    background: radial-gradient(
      100% 209.84% at 100% 0%,
      rgba(128, 0, 128, 0.1225) 0%,
      rgba(3, 2, 1, 0.1225) 100%
    );
    border: 1px solid rgba(75, 0, 75, 0.6);

    border-radius: 24px;

    padding: 31px;
  }

  table {
    border-collapse: collapse;
    text-align: center;
  }

  th {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .pricing-tableq {
    text-align: center;
    width: 240px;
  }
  td {
    border-top: 1px solid #222222;
  }

  td:first-child {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    color: #00bdbd;
    text-align: left;
  }

  .price-row {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    color: #00ffff;
    letter-spacing: 0%;
    padding-bottom: 0;
  }

  .price-row span {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    padding-bottom: 0;
  }
  .price-row-a {
    padding-bottom: 0;
  }
  td img {
    margin: 0 auto;
  }
}

.i-g-reviews {
  margin: auto;
  width: 375px;
  height: 394px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Benefits\ \(8\).png");
}
.i-g-reviews-container {
  margin: auto;
  padding: 80px 16px 0;
  width: 375px;
}
.i-g-reviews-list {
  padding-top: 55px;
}

.i-g-reviews-item {
  margin: 0 5px;
  width: 327px;
  height: 136px;

  border-radius: 24px;
  border-width: 1px;
  padding: 23px;
  background: radial-gradient(
    100% 209.84% at 100% 0%,
    rgba(128, 0, 128, 0.1225) 0%,
    rgba(3, 2, 1, 0.1225) 100%
  );
  border: 1px solid rgba(75, 0, 75, 0.6);
  backdrop-filter: blur(36px);
}

.i-g-reviews-text-bold {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #00ffff;
}

.i-g-reviews-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  color: #ff06ff;
  padding-top: 16px;
}

@media screen and (min-width: 1189px) {
  .i-g-reviews {
    width: 1440px;
    height: 427px;
    background-image: url("/img/Benefits\ \(9\).png");
  }
  .i-g-reviews-container {
    margin: auto;
    padding: 80px 160px;
    width: 1440px;
  }
  .i-g-reviews-list {
    padding-top: 64px;
  }

  .i-g-reviews-item {
    margin: 0 15px;
    width: 352px;
    height: 145px;

    border-radius: 24px;

    padding: 23px;
  }

  .i-g-reviews-text-bold {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-g-reviews-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
  }
}

.i-g-faq {
  margin: auto;
  width: 375px;
  height: 1121px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/Benefits\ \(10\).png");
}
.i-g-faq-container {
  padding: 80px 16px 80px;
  width: 375px;
  margin: auto;
}
.i-g-faq-list {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(36px);
  border: 1px solid rgba(75, 0, 75, 0.6);

  background: #03020159;

  border-radius: 24px;
  border-width: 1px;
  padding: 23px;
  gap: 16px;
}

.i-g-faq-item {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(128, 0, 128, 0.5);
}

.i-g-faq-question {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #ff06ff;
}

.i-g-faq-answer {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #00ffff;
}

@media screen and (min-width: 1189px) {
  .i-g-faq {
    width: 1440px;
    height: 911px;
    background-image: url("/img/Benefits\ \(11\).png");
  }
  .i-g-faq-container {
    padding: 80px 352px;
    width: 1440px;
    margin: auto;
  }
  .i-g-faq-list {
    margin-top: 64px;
  }

  .i-g-faq-question {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .i-g-faq-answer {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.i-g-features {
  margin: auto;
  width: 375px;
  height: 575px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Benefits\ \(12\).png");
}

.i-g-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}
.i-g-features-div {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-bottom: 40px;
}

.i-g-features-div-item-text {
  text-decoration: none;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #00bdbd;
}

@media screen and (min-width: 1189px) {
  .i-g-features {
    width: 1440px;
    height: 498px;
    background-image: url("/img/Benefits\ \(13\).png");
  }

  .i-g-features-container {
    width: 1440px;
    margin: auto;
    padding: 80px;
  }
  .i-g-features-div {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 40px;
  }

  .i-g-features-div-item-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.i-g-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-g-container h1 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ff06ff;
}

.i-g-container h2 {
  margin-top: 10px;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.i-g-container h3 {
  margin-top: 10px;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-g-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.i-g-container ul li {
  margin-bottom: 10px;
}
.i-g-container p {
  margin-top: 10px;
}
.i-g-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.i-g-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1189px) {
  .i-g-container {
    padding: 140px 160px 80px;
    width: 1440px;
    margin: auto;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-g-container h1 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .i-g-container h2 {
    margin-top: 20px;
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .i-g-container h3 {
    margin-top: 20px;
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-g-container ul {
    margin-top: 20px;
  }

  .i-g-container ul li {
    margin-bottom: 10px;
  }
  .i-g-container p {
    margin-top: 20px;
  }
}

.i-g-footer-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: radial-gradient(
    50% 38.82% at 50% -14.98%,
    #800080 0%,
    #030201 100%
  );
  color: #f2fdfd;
}

.i-g-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.i-g-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.i-g-footer-copyright {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.i-g-footer-link {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #ff06ff;
}
@media screen and (min-width: 1189px) {
  .i-g-footer-container {
    width: 1440px;

    background: radial-gradient(
      31.51% 55.73% at 50% -14.98%,
      #800080 0%,
      #030201 100%
    );
    color: #00ffff;
  }

  .i-g-footer-wrapper {
    gap: 4px;
  }

  .i-g-footer-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .i-g-footer-copyright {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    text-align: center;
  }
  .i-g-footer-link {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    color: #ff06ff;
  }
}

.i-g-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 343px;
  padding: 32px;
  border-radius: 24px;
  background: #030201;

  z-index: 1000;
  display: none;
}

.i-g-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #00ffff;
}

.i-g-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.i-g-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #00ffff;
  width: 256px;
  border-radius: 28px;

  gap: 8px;
  padding: 11px 0;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

#accept-cookies {
  background: #00ffff;
  color: #030201;
}

.i-g-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1189px) {
  .i-g-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .i-g-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 622px;
  }

  .i-g-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .i-g-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1262px;
    padding: 32px;
    display: none;
  }
}
